<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <appSettings>
    <add key="LoadContractTimeout" value="5"/>
    <add key="FolderWithContracts" value="C:\Users\iliar_turdushev\Documents\Visual Studio 2010\Projects\Notifier\TestData\Folder with contracts"/>
  </appSettings>
  
  <connectionStrings>
    <remove name="LocalDatabaseConnectionString"/>
    <add name="LocalDatabaseConnectionString"
         connectionString="Data source=.\Database\LocalDatabase.db; Foreign keys=True"/>
  </connectionStrings>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="NotifierLogger" xsi:type="File"
              fileName="${basedir}/../Logs/${level}.log"
              layout="${longdate} ${level} ${message} ${exception:format=Message,StackTrace}"
              archiveFileName="${basedir}/../Logs/Archives/${level}.${shortdate}.{#}.log"
              archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="20" />
    </targets>
    
    <rules>
      <logger name="*" minlevel="Trace" writeTo="NotifierLogger" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>