<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="BuzzerLogger" xsi:type="File" fileName="${basedir}/../Logs/${level}.log" layout="${longdate} ${level} ${message} ${exception:format=Message,StackTrace}" archiveFileName="${basedir}/../Logs/Archives/${level}.${shortdate}.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="20"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="BuzzerLogger"/>
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
