<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <connectionStrings>
    <remove name="BuzzerDatabase"/>
    <add name="BuzzerDatabase"
         connectionString="Data source=BuzzerDatabase.db; Foreign keys=True;"/>
  </connectionStrings>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="BuzzerLogger" xsi:type="File" fileName="${basedir}/../Logs/${level}.log" layout="${longdate} ${level} ${message} ${exception:format=Message,StackTrace}" archiveFileName="${basedir}/../Logs/Archives/${level}.${shortdate}.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="20"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="BuzzerLogger"/>
    </rules>
  </nlog>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
